<div class='desktop-only'>
	<div class='item'  item-box>
		<a href="Card/" class="boxName" style='background:orange'><h1>FLIP THE CARDS</h1></a>
		<h2 class='right rotateInUpLeft animated'>A simple memory card game that builds on AngularJS framework.</h2>
	</div>
	<div class='item'  item-box>
		<a href="Music/" class="boxName right" style='background:#5e79ff'><h1>MUSIC BUDDY</h1></a>
		<h2 class='animated rotateInUpLeft'>A fun game that trains music sight-reading.</h2>
	</div>
</div>
<div class='mobile-only'>
	<div class='item'>
		<h1>FLIP THE CARDS</h1>
		<p>Flip the card is a small memory card game. The game is built with AngularJs framework with nodejs and mongodb as back end.</p>
		<a href="Card/"><b>View the website.</b></a>
	</div>
	<div class='item'>
		<h1>MUSIC BUDDY</h1>
		<p>I created this fun game in effort to teach myself music sight reading. The game is still on early development stage.</p>
		<a href="Music/"><b>View the website.</b></a>
	</div>
</div>