<form id='contactForm' name='contactForm' novalidate>
	<p style='margin-top:0'>If you have a great idea that you want to turn into reality, let's work together.</p>
	<p>Your name:</p>
	<input type='text' name='name' ng-model='Contact.name' required>
	<span class='errorMsg' ng-show="contactForm.name.$dirty && contactForm.name.$invalid">
		<span ng-show="contactForm.$error.required">Name is required.</span>
	</span>
	<p>Your email: </p>
	<input type='email' name='email' ng-model='Contact.email' required>
	<span class='errorMsg' ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
		<span ng-show="contactForm.email.$error.required">Email is required.</span>
		<span ng-show="contactForm.email.$error.email">Email is invalid.</span>
	</span>
	<p>Message:</p>
	<textarea ng-model='Contact.message' name='msg' required></textarea> <br >
	<div class='errorMsg' ng-show="contactForm.msg.$dirty && contactForm.msg.$invalid">
		<span ng-show="contactForm.$error.required">Message is required.</span>
	</div>
	<input type='button' ng-disabled='contactForm.$invalid' value='Submit' ng-click='submit()'>
</form>